.catalog__buttons {
	border: 4px solid black;
	height: 40px;
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 10px auto;
	border-radius: 20px;
	overflow: hidden;
	button {
		border: none;
	}
}
.сatalog__buttons_small {
}
.catalog__buttons_big {
}
